*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  text-align: center;
  width: 60%;
  margin: 30px auto;
}

.clothes {
  display: inline-block;
  width: 33%;

}

.clothes img {
  width: 100%;

}

p {
  text-align: left;
  
}

.clothes p.text-name {
  text-align: left;
  font-size: 10px;
}

.clothes p.text-description {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

}

p.sales {
  color: red;

  
}

span.original-price {
  text-decoration: line-through;
}


