*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  text-align: center;
  width: 60%;
  margin: 30px auto;
}

.clothes {
  display: inline-block;
  width: 33%; 
  margin-bottom: 50px;
  position: relative;

}

div.discount {
  position: absolute;
  bottom: 65px;
  color: white;
  background-color: rgb(235, 0, 55);
  font-size: 8px;
  padding: 5px;


}


div.eco {
  position: absolute;
  bottom: 65px;
  padding: 3px;
  font-size: 11px;
  color: white;
  background-color: rgb(0, 135, 90);
}

.eco-dx {
  position: absolute;
  bottom: 65px;
  left: 31px;
  padding: 3px;
  font-size: 11px;
  color: white;
  background-color: rgb(0, 135, 90);
}


.clothes .heart{
  position: absolute;
  right: 2px;
  top: 15px;
  color: black;
  font-size: 25px;
  background-color: white;
  width: 35px;
}


.clothes .photo {
  width: 100%;
  display: block;

}

.special {
  display: none;
}


.clothes:hover .photo {
  display: none;
}

.clothes:hover .special{
  display: block;
}



p {
  text-align: left;
  
}

.clothes p.text-name {
  text-align: left;
  font-size: 10px;
  color: grey;

}

.clothes p.text-description {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;

}



p.sales {
  color: red;
  font-family: Arial, Helvetica, sans-serif;

}

span.original-price {
  text-decoration: line-through;
  color: grey;
}


